.fwia---standard-clear {
  display: block;
  clear: both;
  padding: 0;
  margin: 0;
  font-size: 0;
  height: 0;
  line-height: 0;
  min-height: 0;
  width: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
}

.fwia---standard-widget {
  min-width: 150px !important;
  position: relative; /* need to ensure subsequent absolute items are positioned relative to this */
}

.fwia---standard-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -20px; /* make this half your image/element height */
  margin-left: -20px; /* make this half your image/element width */
  width: auto;
  height: auto;
  line-height: 100%;
  vertical-align: 50%;
}

/* get location area styling */

.fwia---standard-widget .form-item,
.fwia---standard-widget form {
  display: inline-block;
}

.fwia---standard-widget label {
  display: block;
}

.fwia---standard-location {
  letter-spacing: 1px;
  width: 7em !important;
}

.fwia---standard-signup,
.fwia---standard-geolocation {
  font-size: 0.85em;
  margin-right: 8px;
}

/* main content holder area */
.fwia---standard-content {
  height: 280px;
  min-height: 60px !important;
  overflow: auto;
  background: #fff;
}

.fwia---standard-content.hide {
  display: none !important;
}

.fwia---standard-search {
  border: solid 1px #fff;
}

.fwia---standard-details {
  border: solid 1px #eee;
}

.fwia---standard-title {
  font-size: 1.1em;
  margin: 8px 0 3px;
  font-weight: bold;
  display: block;
  border-bottom: 1px solid #eee;
}

/** styling the initial screen **/
.fwia---standard-start {
  margin: 0;
}
.fwia---standard-start a {
  position: relative;
  left: 34px;
  top: 77px;

  font-size: 12px;
  line-height: 14px;
  font-weight: bold;

  text-decoration: none;

  display: block;
  width: 80px;
}

/** Results list formatting **/

.fwia---standard-results ul {
  list-style: none;
  margin: 0  !important;
  padding: 0 !important;
}

.fwia---standard-results li {
  padding: 0.5em;
}

.fwia---standard-results .row.even {
  background: #e6f1f9;
}

.fwia---standard-results .row.odd {
  background: #fff;
  border-top: 1px solid #0874be;
  border-bottom: 1px solid #0874be;
}

.fwia---standard-results .row:hover {
  background: #fbffbb;
}

.fwia---standard-content .fwia---standard-clientLogo {
  padding-right: .5em;
  float: left;
}

.fwia---standard-bExpires {
  color: #222;
  font-weight: bold;
}

.fwia---standard-bExpires.highlight {
  color: #c00;
}

.fwia---standard-bIssued {
  color: #800080;
  margin-left: 4px;
}

.fwia---standard-bIssuer,
.fwia---standard-bIssued {
  font-size: 11px;
}

/** footer styling **/

.fwia---standard-footer a {
  text-decoration: none;
}
.fwia---standard-poweredBy {
  float: right;
  margin: 5px;
}
.fwia---standard-poweredBy img {
  float: left;
  border: none;
}
.fwia---standard-poweredBy em {
  margin: 0 5px 0 0;
  float: left;
  font-weight: bold;
  font-size: 0.85em;
  padding: 4px 0 0;
}

.fwia---standard-message {
  padding: 10px;
  color: #800080;
}

/** styling of the details view **/

.fwia---standard-details-container {
  margin: 0 0 0 2%;
  width: 96%;
  padding: 25px 0 0;
}

.fwia---standard-share {
  padding: 10px 0;
}

.fwia---standard-map {
  display: none;
  height: 200px;
  width: auto;
  margin-top: 6px;
}

.fwia---standard-content-area {
  position: relative; /* needed to ensure the 'close' link is positioned correctly when viewing details of an announcement */
}

.fwia---standard-close {
  position: absolute;
  right: 1.5em;
  top: 0;

  color: #666;

  background: #ddd;
  padding: 2px 6px;

  text-decoration: none;
  z-index: 10;
}
.fwia---standard-close:hover {
  background: #bbb;
}
.fwia---standard-close:active {
  background: #999;
}


/** announcement rating **/

.fwia---standard-rating_holder_div {
  margin: 16px 0 10px;
}

.fwia---standard-sp_rating {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #5f5f5f;
}

.fwia---standard-rating {
  float: left;
  padding-right: 4px;
}

.fwia---standard-base {
  background: url(../images/ratings.gif) 0 0 no-repeat;
  width: 85px;
  float: left;
  padding-right: 4px;
  overflow: hidden;
}

.fwia---standard-average {
  background: url(../images/ratings.gif) 0 -16px no-repeat;
  text-indent: -9999px;
}

.fwia---standard-votes {
  float: left;
  padding-right: 4px;
}

.fwia---standard-score {
  background: url(../images/ratings.gif) 0 0 no-repeat;
  width: 85px;
  height: 100%;
  float: left;
  position: relative;
}
.fwia---standard-score a {
  display: block;
  height: 100%;
  float: left;
  text-indent: -9999px;
  position: absolute;
  overflow: hidden;
  line-height: 1em;
}
.fwia---standard-score1 {
  width: 20%;
  z-index: 55;
}
.fwia---standard-score2 {
  width: 40%;
  z-index: 54;
}
.fwia---standard-score3 {
  width: 60%;
  z-index: 53;
}
.fwia---standard-score4 {
  width: 80%;
  z-index: 52;
}
.fwia---standard-score5 {
  width: 100%;
  z-index: 51;
}

.fwia---standard-score a:hover {
  background: url(../images/ratings.gif) bottom right no-repeat;
}

.fwia---standard-sp_status {
  height: 16px;
  overflow: hidden;
  position: relative;
}

.fwia---standard-score_this {
  height: 100%;
  overflow: hidden;
}
.fwia---standard-score_this a {
  color: #f37800;
  margin: 0;
}

#modal-content .fwia---standard-signup-submit,
#fwia---standard-email-section {
    display: none;
}

#fwia---standard-password-section,
#fwia---standard-password-section .new_password,
#fwia---standard-password-section .existing_password {
    display: none;
}

#modal-content .form-item label {
  width: 6em;
}

#modal-content .form-item {
  margin-bottom: 4px;
}

#modal-content .form-item .form-text {
  max-width: 70%;
}

#modal-content {
  padding-top: 2px;
}
	
#modal-content p, 
#modal-content .fwia---standard-signup-submit {
  margin-bottom: 2px;
}

#modal-content div.messages {
  margin: 2px 15px 5px 0px;
  padding-bottom: 4px;
}

#fwia-popup-location .form-item {
  display: inline-block;
}


@media (max-width: 580px) {
  #modalContent {
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
  }
  div.ctools-modal-content {
    width: 100% !important;
    margin: 0 auto;
  }
  div.ctools-modal-content .modal-content {
    width: 100% !important;
  }
}


